<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68debd">  <td>19/12/02 15:17:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:TEST_RUNNER.testrunner@6ea6d14e]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="68debd">  <td>19/12/02 15:17:16</td>   <td>361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:TEST_RUNNER.testrunner@6ea6d14e]">feature</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="68debd">  <td>19/12/02 15:17:35</td>   <td>18964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:TEST_RUNNER.testrunner@6ea6d14e]">feature</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="68debd">  <td>19/12/02 15:17:57</td>   <td>41043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:TEST_RUNNER.testrunner@6ea6d14e]">feature</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="68debd">  <td>19/12/02 15:18:27</td>   <td>71374</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:TEST_RUNNER.testrunner@6ea6d14e]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13648335</td>   <td></td> </tr>
</table>
